<form class="add-form">
  <div class="form-control">
    <label for="addTask">Add Task</label>
    <input type="text" name="addTask" id="addTask" />
  </div>
  <div class="form-control">
    <label for="dayTime">Add day & time</label>
    <input type="datetime-local" name="dayTime" id="dayTime" />
  </div>
  <div class="form-control-check">
    <label for="reminder">Set reminder</label>
    <input type="checkbox" name="reminder" id="reminder" />
  </div>
  <button class="btn btn-block" type="submit">Save Task</button>
</form>
